.section{
    margin-top: 70px;
    margin-bottom: 70px ;
}
.aboutMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutMain h2{
    text-align: center;
}
.h2Span{
    color: var(--light-blue);
}
.para{
    padding-top: 30px;
    max-width: 800px;
    text-align: center;
    margin: auto;
    font-size: 18px;
}
@media screen and (max-width: 768px){
    .para{
        font-size: 14px;
        padding-top: 15px;
    }
    .section{
        margin-top: 40px;
    }
}
@media screen and (max-width: 425px){
    .aboutMain h2{
        font-size: 25px;
    }
}